# Input
SOURCE_IMG="images/"
VM_PATH="/opt/vm"

# Network
## Blank bridges will be ignored, networks will not be set up for empty vars
EXT_BRIDGE="ext" 

SITE_BRIDGE="site"

PRI_BRIDGE="pri"

MGT_BRIDGE="mgt"

# Build
MASTER_IP="10.151.0.1" # IP address of system running these scripts, used for populating ARP cache

######################
# DO NOT TOUCH BELOW #
######################

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
BUILD="$DIR/build/$VM_NAME"
VM_DISK="$VM_PATH/$VM_NAME.qcow2"
